//Od małych w górę
@mixin device-small {
    @media (max-width: $bp-medium) {
        @content;
    }
}

//Od średnich w górę
@mixin device-medium {
    @media (min-width: $bp-medium) {
        @content;
    }
}

//Od dużych w górę
@mixin device-large {
    @media (min-width: $bp-large) {
        @content;
    }
}

@mixin col-padding {
    padding-left: $gutter;
    padding-right: $gutter;
}
